alive_progress>=2.4.1
anytree>=2.8.0
bacdive>=0.2
bacdiving>=1.1.6
bokeh>=2.4.3
ete3>=3.1.2
matplotlib
numpy>=1.23.0
pandas>=1.5.0
scipy>=1.9.3
seaborn>=0.12.1
setuptools>=65.5.0
toyplot>=1.0.3
toytree>=2.0.1
worldmap>=0.1.6
